<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<h1>用户名：{{username}}</h1>
			<!-- v-if不占文档流 ，只渲染一次的话用-->
			<h3 v-if="isVIP">用户类型：VIP</h3>
			<!-- v-if和v-else之间不可插入其他元素 -->
			<h3 v-else>用户类型：普通用户</h3>
			
			<h1>用户允许使用时间</h1>
			<h3 v-if="age>=18">允许使用24小时</h3>
			<h3 v-else-if="age>14">允许使用8小时</h3>
			<h3 v-else>允许使用4小时</h3>
		</div>
		<script>
			let app=new Vue({
				el:"#app",
				data:{
					username: "小明",
					isVIP: false,
					age: 15
				}
			})
		</script>
	</body>
</html>
